# Keil generated user options file
*.uvopt
*.uvoptx
# Keil project file
*.cproj
 
# Debug and release folders
Debug/
Release/
 
# Compiled target files
*.hex
*.bin
*.axf
*.o
 
# Build folder if you use it
build/
*.m51
Listings
Objects
*.mywei
Listings/
DebugConfig/
Objects/